body{
    background-color:white; 
    font-family: Arial, sans-serif;
}
h1{
    color:green
}
p{
    font-style: italic;
}
.titulo{
    color:red;
    text-align: center;
    font-size: 24px;
}
.caja{
    display:inline-block;
    background: yellow;
    padding: 10px;
    margin: 15px;
    border: 2px solid blue;
}
.unico{
   
    color: blue;
    font-weight: bold;
    border: 3px solid red; 
}
.boton{
    display: inline-block;
    background-color: rgb(71, 238, 71);
    color: white; 
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.boton:hover{
    background-color: rgb(5, 164, 66);
}
.boton2{
    display: inline-block;
    background-color: rgb(103, 104, 103);
    color: white; 
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.boton2:hover{
    background-color: rgb(224, 221, 221);
    box-shadow: white;
    color: black; 
}